extends layout
append head
  script(src='/views/createClass.js')
block content
  .groupDef
    table
      tr
        td= t("Group") + ":"
        td 
         input(type="text", name="group")
      tr
        td= t("Year") + ":"
        td 
          input(name="year",type="number")
    .button
      a(href="#", class="saveClassButton") Save class
   
  .newStudent
    .sectionTitle= t("New student")
    table
      tr
        td= t("Firstname")
        td
          input(type="text", name="firstname")
        td= t("Father name")
        td
          input(type="text", name="fatherName")
      tr
        td= t("Lastname")
        td 
          input(type="text", name="lastname")
        td= t("Mother name")
        td
          input(type="text", name="motherName")
      tr
        td= t("Birthday")
        td
          input(type="text", name="birthday")
        td= t("Telephones")
        td
          input(type="text", name="telephone")
      tr
        td= t("Notes")
        td 
          textarea(name="notes")
    
    .button 
      a(href="#", class="addStudentButton")= t("Add Student")
  .studentList 
    .sectionTitle= t("Student list")
    table
      tr
        th= t("Firstname")
        th= t("Lastname")
        th= t("Birthday")
        th= t("Father name")
        th= t("Mother name")
        th= t("Telephones")
        th= t("Notes")
