extend layout
append head
  script(src='/views/editClass.js')
block content
  form
    table
        tr
          td= t("Group")+":"
          td
           input(type="text", name="group", value="#{group}")
          td= t("Year")+":"
          td
            input(name="year",type="number", value="#{year}")
      table
        tr
          th= t("Firstname")
          th= t("Lastname")
          th= t("Birtday")
          th= t("Father name")
          th= t("Mother name")
          th= t("Telephone")
          th= t("Notes")
        each student in students
          tr
            td 
              input(value="#{student.firstname}")
            td
              input(value="#{student.lastname}")
            td
              input(value="#{student.birthday}")
            td
              input(value="#{student.fatherName}")
            td
              input(value="#{student.motherName}")
            td 
              input(value="#{student.telephone}")
            td
              input(value="#{student.notes}")
       
        

