extend layout
append head
  script(src='/views/editClass.js')
block content
  form
    table
        tr
          td Group:
          td
           input(type="text", name="group", value="#{group}")
        tr
          td Year:
          td
            input(name="year",type="number", value="#{year}")
      table
        tr
          th Firstname
          th Lastname
          th Birtday
          th Father name
          th Mother name
          th Telephone
          th Notes
        each student in students
          tr
            td 
              input(value="#{student.firstname}")
            td
              input(value="#{student.lastname}")
            td
              input(value="#{student.birthday}")
            td
              input(value="#{student.fatherName}")
            td
              input(value="#{student.motherName}")
            td
              input(value="#{student.notes}")
       
        

