extends layout
block content
  .classTitle= t("Group")+ ":" 
    | #{group} 
    | t("Year"):
    | #{year} 
    a.edit(href="#")= t("edit")
  .students
    table
      each student in students
        tr 
          td #{student.firstname} 
          td #{student.lastname}
          td #{student.fatherName}
          td #{student.motherName}
          td #{student.birthday}
          td #{student.telephoneNumber}
          td #{student.notes}
