extends layout
block content
  .classTitle Group: #{group}  Year: #{year}
  .students
    table
      each student in students
        tr 
          td #{student.firstname} 
          td #{student.lastname}
          td #{fatherName}
          td #{motherName}
          td #{birthday}
          td #{telephoneNumber}
          td #{notes}
