.classNew( ng-controller="ClassNewCtrl" )
  center
    table
      tr
        td= t("Group") + ":"
        td 
         input(type="text", ng-model="name")
        td= t("Year") + ":"
        td 
          input(type="number",ng-model="year" )
        td 
          a.button( ng-click="saveClass($event)")= t("Save class")

    .sectionTitle= t("New student")
    table
      tr
        td= t("Firstname")
        td
          input(type="text", ng-model="firstName")
        td= t("Lastname")
        td 
          input(type="text", ng-model="lastName")
      tr
        td= t("Father name")
        td
          input(type="text", ng-model="fatherName")
        td= t("Mother name")
        td
          input(type="text", ng-model="motherName")
      tr
        td= t("Birthday")
        td
          input(type="text", ng-model="birthday")
        td= t("Telephones")
        td
          input(type="text", ng-model="telephones")
      tr
        td= t("Notes")
        td 
          textarea(ng-model="notes")
    a.button( ng-click="addStudent($event)" )= t("Add student")
    .sectionTitle= t("Student list")
    table.withColoredBorder
      tr
        th= t("Firstname")
        th= t("Lastname")
        th= t("Birthday")
        th= t("Father name")
        th= t("Mother name")
        th= t("Telephones")
        th= t("Notes")
      tr( ng-repeat="student in students" )
        td {{student.firstName}}
        td {{student.lastName}}
        td {{student.birtday}}
        td {{student.fatherName}}
        td {{student.motherName}}
        td {{student.telephones}}
        td {{student.notes}}
        td
          a.button( ng-click="removeStudent($event, $index)")= t("Remove")