extends ../layout
block content
  table
    tr
      th= t("Group")
      th= t("Year")
    each group in classList
      tr 
        td #{group.group.group}
        td #{group.group.year}
        td 
          a(href="/user/#{user.id}/addClass/#{group.id}")= t("My group") 
