extends ../layout
block content
  table
    tr
      th= t("Class")
      th= t("Year")
    each group in classList
      tr 
        td #{group.group.group}
        td tr#{group.group.year}
        td a(href="/user/addClass/#{group.id}")= t("this is my class") 
