.view(ng-controller="ExaminationListCtrl")
  .subject(ng-repeat="s in subjects")
    {{s.competence}} : {{s.subject}}
    p(ng-hide="examsBySubjectCode[s.code]")=t("No exams, yet!")
    table.withColoredBorder(ng-show="examsBySubjectCode[s.code]")
      tr
        td=t("Student")
        td(ng-repeat="exam in examsBySubjectCode[s.code]" )
          .vertical
            {{exam.exam.date}} ( {{exam.exam.maximal}} )
        td=t("Average")
      tr(ng-repeat="student in students")
        td 
          {{student.lastName+" "+student.firstName}}
        td(ng-repeat="exam in examsBySubjectCode[s.code]")
          {{markAsPercentage( student, exam ) | markPercentageOrAbs}}
        td(ng-repeat="exam in examsBySubjectCode[s.code]")
          {{averageForSubject(student, exam.exam.subject) | markPercentageOrAbs }}
      tr 
        td #{t("Examination Average")}
        td(ng-repeat="exam in examsBySubjectCode[s.code]")
          {{averageForExamination(exam) | markPercentageOrAbs}}
        td #{t("Group Average")} :  {{groupAverageForSubject(s.code) | markPercentageOrAbs}}



//étudiant        | compétence 1        |
//                | matière 1                | matière 2| Moyenne
//                | exam 1 | exam2 | moyenne |          |
//Ibrahim lalonde |   10   | 20    |   15    | 45       | 35
// should give this
//table.withColoredBorder
//  tr
//    th
//    th(ng-repeat="s in subjects" )
//      {{s.competence}}
//  tr
//    th=t("Students")
//    th(ng-repeat="s in subjects")
//      {{s.subject}}


