.view(ng-controller="ExaminationListCtrl")
  .subject(ng-repeat="s in subjects")
    {{s.competence}} : {{s.subject}}
    p(ng-hide="examsBySubjectCode[s.code]")=t("No exams, yet!")
    div(ng-show="examsBySubjectCode[s.code]") #{t("Competence average")} {{competenceGroupAverage(s.competence)}}
      table.withColoredBorder
        tr
          td=t("Student")
          td(ng-repeat="exam in examAndExamNameWithCriterion[ s.code ]")
            .vertical
              {{exam.name}} ( {{exam.exam.exam.maximal}} )
          td
            .vertical #{t("Average")}
        tr(ng-repeat="student in students")
          td 
            {{student.lastName+" "+student.firstName}}
          td(ng-repeat="exam in examsBySubjectCode[s.code]")
            {{markAsPercentage( student, exam ) | markPercentageOrAbs}}
          td
            {{averageForSubject(student, s.code) | markPercentageOrAbs }}
        tr 
          td #{t("Examination &#216;")}
          td(ng-repeat="exam in examsBySubjectCode[s.code]")
            {{averageForExamination(exam) | markPercentageOrAbs}}
          td #{t("Subject &#216;")}  
          td {{groupAverageForSubject(s.code) | markPercentageOrAbs}}

          //td(ng-repeat="enwec in examNameWithCriterion( examsBySubjectCode[s.code] )")